<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Introduction to Backbone.js in WordPress</title>

		<meta name="description" content="Introduction to the Backbone.js JavaScript framework in WordPress">
		<meta name="author" content="Brian Hogg">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Introduction to Backbone.JS with WordPress</h1>
					<p>
						<small><a href="http://brianhogg.com">Brian Hogg</a> / <a href="http://twitter.com/brianhogg">@brianhogg</a></small>
					</p>
				</section>

                <section>
                    <img src="images/highres_bhc.png" />
                </section>

                <section>
                    <img src="images/darien_lake.png" />
                </section>
				
				<section>
					<h1>Why Backbone?</h1>
					<ul>
						<li>Enforces some structure on your JavaScript</li>
						<li>Events system</li>
					</ul>
				</section>
				
				<section>
					<h1>What is Backbone.JS?</h1>
					<h3>Structure (MV*)</h3>
					<p>Uses jQuery, but only hard requirement is Underscore.js</p>
				</section>

				<section>
					<h1>What is Underscore.JS?</h1>
					<h3>Utility functions with _</h3>
					<ul>
						<li>_.each</li>
						<li>_.template</li>
						<li>Lots more: http://documentcloud.github.io/underscore/</li>
					</ul>
				</section>
				
				<section>
					<h2>Templates</h2>
					<pre><code class="javascript" data-trim contenteditable>
var template = _.template("hello <%= name %>");
var html = template({ name: 'Brian' });
console.log( html ); // "hello Brian"

var template = _.template("<strong><%- value %></strong>");
var html = template({ value: '&lt;script&gt;' });
console.log( html ); // "<strong>&amp;lt;script&amp;gt;</strong>"
					</code></pre>
				</section>

				<section>
					<h2>Why Not Just jQuery?</h2>
					<ul>
						<li>Performance</li>
						<li>Leveraging the community</li>
						<li>Re-inventing the wheel</li>
						<li>Code structure</li>
					</ul>
				</section>
				
				<section>
					<h1>Alternatives</h1>
					<h3>Ember.js, Angular.js, ...</h3>
					<p>Multiple ways of doing similar things.  Even in Backbone.JS:</p>
					<blockquote cite="http://backbonejs.org/#FAQ-tim-toady">
						&ldquo;It's common for folks just getting started to treat the examples listed on this page as some sort of gospel truth. In fact, Backbone.js is intended to be fairly agnostic about many common patterns in client-side code.&rdquo;
					</blockquote>
					<small>http://backbonejs.org/#FAQ-tim-toady</small>
				</section>
				
				<section>
					<h1>Backbone / Underscore</h1>
					<h3>Included in WordPress since 3.5</h3>
					<p>The "backbone" of the media manager, revisions UI</p>
				</section>

				<section>
					<h2>Models</h2>
					<blockquote>
						&ldquo;<strong>Models</strong> are the heart of any JavaScript application, containing the interactive data as well as a large part of the logic surrounding it: conversions, validations, computed properties, and access control. You extend <strong>Backbone.Model</strong> with your domain-specific methods, and <strong>Model</strong> provides a basic set of functionality for managing changes.&rdquo;
					</blockquote>
				</section>

				<section>
					<h2>Model Example</h2>
					<pre><code class="javascript" data-trim contenteditable>
var Post = Backbone.Model.extend({
    defaults: {
        title: "",
        post_status: "draft"
    },
	
    initialize: function() {
        console.log("creating a post");
    }
});

var post = new Post({ title: "Hello, world", post_status: "draft" });

var title = post.get("title"); // Hello, world
var post_status = post.get("post_status"); // draft
					</code></pre>
					<p>All models have an <code>id</code> attribute for syncing up with a server</p>
				</section>
				
				<section>
					<h2>Listening for Changes</h2>
					<pre><code class="javascript" data-trim contenteditable>
post.on("change:title", function(model) {
    alert("Title changed to: " + model.get("title"));
});
					</code></pre>
					<p>Or in the models initialize with:</p>
					<pre><code class="javascript">this.on("change:title", this.titleChanged);</code></pre>
				</section>
				
				<section>
					<h2>Views</h2>
					<ul>
						<li>Used to turn a model into something you can see</li>
						<li>Always contains a DOM element (the <strong><code>el</code></strong> property), whether its been added to the viewable page or not</li>
					</ul>
				</section>
				
				<section>
					<h2>View Example</h2>
					<pre><code class="javascript" data-trim contenteditable>
var PostView = Backbone.View.extend({
    tagName: "div", // div by default
    className: "bbpost", // for styling via CSS
	
    events: {
        "click .edit": "editPost",
        "change .post_status": "statusChanged"
    },

    initialize: {
        this.listenTo(this.model, "change", this.render);
    },

    render: {
        // ...
    }
});
					</code></pre>
				</section>
				
				<section>
					<h2>Rendering the View</h2>
					<pre><code class="javascript" data-trim contenteditable>
var template = _.template($("#tmpl-bbpost").html());
var html = template(this.model.toJSON());
this.$el.html(html);
return this; // for chaining
					</code></pre>
					<p>This uses Underscore.js' <code>_.template</code>, but you can use another!</p>
				</section>
				
				<section>
					<h2>Accessing the DOM element</h2>
					<code>this.$el</code>
					<pre><code class="javascript">this.$el.html()</code></pre>
					<code>this.el</code>
					<pre><code class="javascript">
// From within a parent view
var view = new PostView({ model: post });
this.$el.append(view.render().el);
						</code></pre>
					<code>this.$</code>
					<pre><code class="javascript">this.$('.title').val()</code></pre>
				</section>
				
				<section>
					<h2>Collections</h2>
					<p>Ordered set of models</p>
					<pre><code class="javascript" data-trim contenteditable>
var Posts = Backbone.Collection.extend({
    model: Post
});

var post1 = new Post({ title: "Hello, world" });
var post2 = new Post({ title: "Sample page" });

var myPosts = new Posts([ post1, post2 ]);
					</code></pre>
				</section>
				
				<section>
					<h2>Populating Collections from the server</h2>
					<p>Out of the box, Backbone.js supports RESTful APIs through <code>Backbone.sync(method, model, [options])</code>:</p>
					<ul>
						<li>create → POST   <code>/collection</code>
						<li>read → GET   	<code>/collection[/id]</code>
						<li>update → PUT   <code>/collection/id</code>
						<li>patch → PATCH   <code>/collection/id</code>
						<li>delete → DELETE   <code>/collection/id</code>
					</ul>
				</section>
				
				<section>
					<p>What Backbone expects when fetching/reading the collection:</p>
					<pre><code class="javascript">
[
    {
        id: 1,
        title: "Hello, world"
    },
    {
        ...
    }
]
					</code></pre>
					<p>What this sends:</p>
						<pre><code class="php">wp_send_json_success( array( 'id': 1, 'title': 'Hello, world' ) );</code></pre>
					<pre><code class="javascript">
{
    success: true,
    data: [
        {
            id: 1,
            title: "Hello, world"
        }
    ]
}
					</code></pre>
				</section>
				
				<section>
					<p>So, just override <code>.parse()</code> to accommodate:</p>
					
					<pre><code class="javascript" data-trim contenteditable>
var Posts = Backbone.Collection.extend({
    model: Post,
    url: ajaxurl, // defined for us if we're in /wp-admin
    parse: function( response ) {
        return response.data;
    }
});

// Kick things off
$(document).ready(function() {
    posts = new Posts();
    postsView = new PostsView({ collection: posts });
    posts.fetch({ data: { action: 'bbpost_fetch_posts' } });
});
					</code></pre>
					<p>Or can override <code>.sync()</code>, or even <code>.fetch()</code></p>
					<p>Or could have a bunch of these everywhere: <pre><code class="php">echo json_encode();</code></pre> but that's messy.</p>
				</section>
				
				<section>
					<p>Note on calling <code>.fetch()</code> on page load:</p>
					<blockquote>&ldquo;Note that fetch should not be used to populate collections on page load — all models needed at load time should already be bootstrapped in to place. fetch is intended for lazily-loading models for interfaces that are not needed immediately: for example, documents with collections of notes that may be toggled open and closed.&rdquo;</blockquote>
					<small>http://backbonejs.org/#Collection-fetch</small>
					<p>Depends on the situation</p>
				</section>
				
				<section>
					<h2>Routers</h2>
					<p>Used for routing your application's URLs when using hash tags (#)</p>
				</section>

                <!-- EXAMPLE -->

                <section>
                    <h1>(Contrived) Example</h1>
                    <h3>Managing WordPress post titles and publish/draft status in an admin panel</h3>
					<p>DEMO</p>
                </section>

                <section>
                    <h2>Directory Structure</h2>
					<pre><code data-trim contenteditable>
plugins/
    backbone-js-wp-example/
        backbone-js-wp-example.php
        css/
            admin.css
        js/
            collections/
                posts.js
            models/
                post.js
            views/
                post.js
                posts.js
                    </code></pre>
                </section>

                <section>
                    <h2>models/post.js</h2>
					<pre><code class="javascript" data-trim contenteditable>
var bbp = bbp || {};

(function($){
    bbp.Post = Backbone.Model.extend({
    });
})(jQuery);
                    </code></pre>
                    <p>Could set defaults here, if creating new posts</p>
                </section>

                <section>
                    <h2>backbone-js-wp-example.php</h2>
                        <pre><code class="php" data-trim contenteditable>
/*
Plugin Name: Backbone.js WP Example
Plugin URI:
Description: Basic Backbone.js Example in WordPress to edit basic Post properties
Version: 1.0
Author: Brian Hogg
Author URI: http://brianhogg.com
License: GPL2
*/

define( 'BBPOST_VERSION', 1 );
                        </code></pre>
               </section>

                <section>
                    <h2>backbone-js-wp-example.php</h2>
                    <h3>Setting up actions</h3>
                        <pre><code class="php" data-trim contenteditable>
class BBPostAdmin {
    public function __construct() {
        if ( is_admin() ) {
            add_action( 'wp_ajax_bbpost_fetch_posts', array( &$this, 'ajax_fetch_posts' ) );
            add_action( 'wp_ajax_bbpost_save_post', array( &$this, 'ajax_save_post' ) );

            if ( ! defined( 'DOING_AJAX' ) || ! DOING_AJAX ) {
                add_action( 'admin_menu', array( &$this, 'admin_menu' ) );
                if ( isset( $_GET['page'] ) and 'bbpostadmin' == $_GET['page'] ) {
                    add_action( 'admin_enqueue_scripts', array( &$this, 'enqueue_scripts' ) );
                }
            }
        }
    }
                        </code></pre>
                </section>

                <section>
                    <h2>backbone-js-wp-example.php</h2>
                    <h3>Adding the menu</h3>
                        <pre><code class="php" data-trim contenteditable>
                            add_menu_page( 'Backbone JS Post Admin Example', 'Backbone JS Post Admin Example', 'add_users', 'bbpostadmin', array( &$this, 'admin_page' ) );
                        </code></pre>
						<p>admin_menu() function</p>
                </section>

                <section>
                    <h2>backbone-js-wp-example.php</h2>
                    <h3>Adding the scripts</h3>
                        <pre><code class="php" data-trim contenteditable>
// Add backbone.js models first, then collections, followed by views
$folders = array( 'models', 'collections', 'views' );
foreach ( $folders as $folder ) {
    foreach ( glob( dirname( __FILE__ ) . "/js/$folder/*.js" ) as $filename ) {
        $basename = basename( $filename );
        wp_register_script( "$folder/$basename", plugins_url( "js/$folder/$basename", __FILE__ ), array( 'jquery', 'backbone', 'underscore', 'wp-util' ), BBPOST_VERSION );
        wp_enqueue_script( "$folder/$basename" );
    }
}

wp_register_style( 'bbpost.admin.css', plugins_url( 'css/admin.css', __FILE__ ), false, ECN_VERSION );
wp_enqueue_style( 'bbpost.admin.css' );
                    </code></pre>
                    <p>enqueue_scripts() function</p>
					<p>wp-util gives us the wp.ajax helper function</p>
                </section>


                <section>
                    <h2>Admin page template</h2>
                        <pre><code class="html" data-trim contenteditable>
<script id="tmpl-bbpost" type="text/html">
    <div class="bbpost">
        Post title: <input type="text" class="title" value="<%- title %>" />, Status:
        <select class="post_status">
            <option value=""></option>
            <option value="publish" <% if ( 'publish' == post_status ) { %>SELECTED<% } %>>Published</option>
            <option value="draft" <% if ( 'draft' == post_status ) { %>SELECTED<% } %>>Draft</option>
        </select>
        <button>Update</button>
    </div>
</script>

<h1>Backbone.js WordPress Post Admin Example</h1>

<div id="bbposts">
</div>

                            </code></pre>
                        <p>admin_page()</p>
                    </section>

				<section>
					<h2>Admin page template</h2>
					<h3>Individual post</h3>
                    <pre><code>
&lt;div class=&quot;bbpost&quot;&gt;
    Post title: &lt;input type=&quot;text&quot; class=&quot;title&quot; value=&quot;&lt;%- title %&gt;&quot; /&gt;, 
    Status: 
    &lt;select class=&quot;post_status&quot;&gt;
        &lt;option value=&quot;&quot;&gt;&lt;/option&gt;
        &lt;option value=&quot;publish&quot; &lt;% if ( 'publish' == post_status ) { %&gt;SELECTED&lt;% } %&gt;&gt;Published&lt;/option&gt;
        &lt;option value=&quot;draft&quot; &lt;% if ( 'draft' == post_status ) { %&gt;SELECTED&lt;% } %&gt;&gt;Draft&lt;/option&gt;
    &lt;/select&gt;
    &lt;button&gt;Update&lt;/button&gt;
&lt;/div&gt;
					</code></pre>
				</section>

                <section>
                    <h2>views/posts.js</h2>
					<pre><code class="javascript" data-trim contenteditable>
var bbp = bbp || {};

(function($){
    bbp.PostsView = Backbone.View.extend({
        el: '#bbposts', // Specifying an already existing element

        initialize: function() {
            this.collection.bind('add', this.addOne, this);
        },

        addOne: function(post) {
            var view = new bbp.PostView({ model: post });
            this.$el.append(view.render().el);
        }
    });

    $(document).ready(function() {
        bbp.posts = new bbp.PostsCollection();
        bbp.postsView = new bbp.PostsView({ collection: bbp.posts });
        bbp.posts.fetch({ data: { action: 'bbpost_fetch_posts' } });
    });
})(jQuery);
                    </code></pre>
                </section>

                <section>
					<h2>views/post.js</h2>
					<pre><code class="javascript" data-trim contenteditable>
var bbp = bbp || {};

(function($){
    bbp.PostView = Backbone.View.extend({
        className: 'bbpost',

        render: function() {
            var template = _.template($('#tmpl-bbpost').html());
            var html = template(this.model.toJSON());
            this.$el.html(html);
            return this;
        },

        events: {
            'click button': 'updatePost'
        },

        updatePost: function() {
            this.model.set('title', this.$('.title').val());
            this.model.set('post_status', this.$('.post_status').val());
            this.model.save();
        }
    });
})(jQuery);
					</code></pre>
				</section>


				                <section>
				                    <h2>backbone-js-wp-example.php</h2>
				                    <h3>Function to send the post data</h3>
				                        <pre><code class="php" data-trim contenteditable>
if ( ! current_user_can( 'edit_published_posts' ) )
    wp_send_json_error();

$posts = get_posts( 
    array(
        'post_status' => 'any'
    )
);
$retval = array();
foreach ( $posts as $post ) {
    $retval[] = array(
        'id' => $post->ID,
        'title' => $post->post_title,
        'post_status' => $post->post_status,
    );
}

wp_send_json_success( $retval );
				                        </code></pre>
				                        <p>ajax_fetch_posts()</p>
				                </section>

								<section>
									<h2>collections/posts.js</h2>
									<pre><code class="javascript" data-trim contenteditable>
var bbp = bbp || {};

(function($){
    bbp.PostsCollection = Backbone.Collection.extend({
        model: bbp.Post,
        url: ajaxurl,
        parse: function ( response ) {
            // This will be undefined if success: false
            return response.data;
		}
    });
})(jQuery);
								</code></pre>
							</section>

                <section>
                    <h2>Saving</h2>
                    <h3>Override save() in models/post.js</h3>
					<pre><code class="javascript" data-trim contenteditable>
var bbp = bbp || {};

(function($){
    bbp.Post = Backbone.Model.extend({
        save: function( attributes, options ) {
            options = options || {};
            options.data = _.extend( options.data || {}, {
                action: 'bbpost_save_post',
                data: this.toJSON()
            });
            var deferred = wp.ajax.send( options );
            deferred.done( function() {
                alert('done');
            });
            deferred.fail( function() {
                alert('failed');
            });
        }
    });
})(jQuery);
                    </code></pre>
                </section>

                <section>
                    <h2>backbone-js-wp-example.php</h2>
                    <h3>Saving a post title/status</h3>
                        <pre><code class="php" data-trim contenteditable>
if ( ! $post = get_post( (int) $_POST['data']['id'] ) )
    wp_send_json_error();

if ( ! current_user_can( 'edit_post', $post->ID ) )
    wp_send_json_error();

if ( wp_update_post( array(
        'ID' => $post->ID,
        'post_title' => $_POST['data']['title'],
        'post_status' => $_POST['data']['post_status'],
    ) ) == $post->ID )
    wp_send_json_success();
else
    wp_send_json_error();
                   </code></pre>
					<p>ajax_save_post() function</p>
               </section>

				<section>
					<h2>wp-backbone</h2>
					<p>Special versions of Backbone.View (wp.Backbone.View)</p>
					<pre><code class="javascript">
revisions.view.Frame = wp.Backbone.View.extend({
    className: 'revisions',
    template: wp.template('revisions-frame'),
    // ...
});
					</code></pre>
					<ul>
						<li>Handling of SubViews</li>
						<li>templates use <# #> instead of <% %> (as PHP can see <% %> as code: see <a href="https://core.trac.wordpress.org/ticket/23263">trac</a> for details)</li>
						<li>See <code>revisions.js</code> for an example</li>
					</ul>
				</section>

				<section>
					<h1>Resources</h1>
					<p><a href="http://backbonejs.org/">http://backbonejs.org/</a></p>
					<p><a href="http://backbonetutorials.com/">http://backbonetutorials.com/</a></p>
					<p><a href="https://github.com/addyosmani/backbone-fundamentals">https://github.com/addyosmani/backbone-fundamentals</a></p>
					<p><a href="http://kadamwhite.github.io/talks/2014/backbone-wordpress-wpsessions">http://kadamwhite.github.io/talks/2014/backbone-wordpress-wpsessions</a></p>
					<p>WordPress revisions.js</p>
				</section>
				
				<section>
					<h2>Enjoy!</h2>
					<p><a href="http://brianhogg.com">brianhogg.com</a> | <a href="http://twitter.com/brianhogg">@brianhogg</a></p>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
